h1{
  font-family:calibri;
  color: dimgray;
}
body{
  font-family:georgia;
  color: blue;
}

#div1 {
  color: red;
}

canvas{
  height:200px;
  border: 1px solid black;
}

#convertBtn {
  background-color: #f4511e;
  border: none;
  color: white;
  padding: 8px 24px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

#convertBtn:hover {opacity: 1}